---
import Layout from "@/layouts/Layout.astro";
import { albums } from "@/components/AlbumCards.astro";
import { Separator } from "@/components/ui/separator";

export function getStaticPaths() {
  return albums.map((album) => ({
    params: { albumId: album.id }
  }));
}

const { params } = Astro;
const { albumId } = params;

const currentAlbum = albums.find((album) => album.id === albumId);
---

<Layout title={`${currentAlbum?.title} by ${currentAlbum?.artist}`}>
  <div class="mb-8 flex flex-col justify-center items-center gap-2">
    <img
      src={currentAlbum?.image}
      alt={`${currentAlbum?.title} album cover`}
      class="rounded-lg mb-4"
      transition:name={`image-${currentAlbum?.title}`}
    />
    <h1 class="text-xl font-bold">{currentAlbum?.title}</h1>
    <p class="text-sm">{currentAlbum?.artist}</p>
  </div>
  <ul class="mb-8 flex flex-col gap-4">
    {
      currentAlbum?.songs.map((song, index) => (
        <li class="group">
          <a
            class="flex justify-between mb-3"
            href={song.link}
            target="_blank"
          >
            <p>
              {index + 1}. {song.title}
            </p>
            <p>{song.duration}</p>
          </a>
          <Separator />
        </li>
      ))
    }
  </ul>
</Layout>
