---
import Layout from "@/layouts/Layout.astro";
import { type Album, getAlbums } from "@/lib/albums";
import { Separator } from "@/components/ui/separator";

export function getStaticPaths() {
  const albums: Album[] = getAlbums();

  return albums.map((album) => ({
    params: { albumId: album.id },
  }));
}

const albums: Album[] = getAlbums();
const { albumId } = Astro.params;
const currentAlbum = albums.find((album) => album.id === albumId);
---

<Layout title={`${currentAlbum?.title} by ${currentAlbum?.artist}`}>
  <div class="mb-8 flex flex-col justify-center items-center gap-2">
    <img
      src={currentAlbum?.image}
      alt={`${currentAlbum?.title} album cover`}
      class="rounded-lg mb-4"
      transition:name={`image-${currentAlbum?.title}`}
    />
    <h1 class="font-bold">{currentAlbum?.title}</h1>
    <p class="text-sm">{currentAlbum?.artist}</p>
  </div>
  <ul class="mb-8 flex flex-col gap-4">
    {
      currentAlbum?.songs.map((song, index) => (
        <li class="group">
          <a
            class="flex justify-between mb-3"
            href={song.link}
            target="_blank"
          >
            <p>
              <span class="text-zinc-500 dark:text-zinc-400 mr-4">
                {index + 1}.
              </span>
              <span class="font-semibold">{song.title}</span>
            </p>
            <p class="text-zinc-500 dark:text-zinc-400">{song.duration}</p>
          </a>
          <Separator />
        </li>
      ))
    }
  </ul>
</Layout>
